{{#if imgUrl}}
    <img class="cover" src="{{imgUrl}}">
{{/if}}

<p><strong>Author</strong>: {{author}}</p>
<p><strong>Year:</strong> {{year}}</p>
<p><strong>Pages:</strong> {{pages}}</p>
<p><strong>Publisher:</strong> {{pub}}</p>
<p><strong>Review:</strong> {{{review}}}</p>

<a href="/book/update?book_id={{bookId}}"><button>Edit</button></a>

<form method="post" action="/book/delete?book_id={{bookId}}" onsubmit="return confirm('Are you sure you want to delete your book? Your review and all content will be permanently deleted.');">
<input type="submit" id="deleteBookButton" value="Delete">
</form>